services:
  app:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./backend/data:/app/backend/data  # persist SQLite database
      - ./backend/uploads:/app/backend/uploads
    command: node /app/backend/dist/server.js
  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    command:
      - "http"
      - "--url=saul-unsubpoenaed-lakeisha.ngrok-free.dev"
      - "https://app:3000"
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
    ports:
      - 4040:4040
    depends_on:
      - app
