services:
  nginx:
    container_name: nginx
    build: ./nginx
    ports:
      - "443:443"
    depends_on:
      - frontend
    env_file:
      - .env
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    volumes:
      - ./nginx/ssl:/etc/nginx/ssl
    restart: always
  frontend:
    container_name: frontend
    build: ./frontend
    volumes:
      - ./frontend:/app
    restart: always

